@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-animation {
  animation: revealCharCell linear;
  animation-duration: 0.15s;
}

@keyframes revealCharCell {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#color-blind:checked + label .switch-ball{
    background-color: white;
    transform: translateX(20px);
}
#color-blind + label .switch-ball {
    transition: transform 0.2s linear;
}